/* Box sizing rules */
* {
  box-sizing: border-box;
  font-family: inter;
  color: white;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #23252c;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* MAIN STYLES STARTS HERE  */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.container {
  height: 780px;
  width: 317px;
  background: #161619;
  border-radius: 10px;
  overflow: hidden;
}

.profile-img {
  width: 317px;
  height: 317px;
}

/* PROFILE DETAIL SECTION  */

.profile-detail {
  width: 100%;
  height: 399px;
  background: #1a1b21;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 35px;
}

.person-detail-container {
  text-align: center;
}

.name {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.occupation {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 16px;
  color: #f3bf99;
}

.website {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
}

.buttons {
  margin-top: 15px;
  display: flex;
  gap: 17px;
}

button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9.6px;
  font-size: 14px;
  border-radius: 3px;
  width: 115px;
  height: 34px;
}

.email-btn p {
  color: #374151;
}

.linkedIn-btn {
  background: #5093e2;
}

.email-btn:hover {
  background: rgb(244, 228, 228);
}

.linkedIn-btn:hover {
  background: #659ddc;
}

/* INFO SECTION  */

.info-container {
  /* margin: 35px 25px 35px 25px; */
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info-title {
  font-size: 16px;
  font-weight: 700;
}

.info-para {
  font-weight: 400;
  font-size: 10.24px;
}


/* PROFILE FOOTER SECTION  */
.profile-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  gap: 24px;
}